<ion-view view-title="cockpit">
    <div ng-controller="DashboardCtrl">
    </div>
    <ion-nav-title>
        <!-- <img style="margin-top: 3px;" width="250" src="img/logo_slogan.png"/> -->
        <div style="font-family:HelveticaNeue">Charge Transaction</div>
    </ion-nav-title>
    <ion-content>
        <div style="position: absolute; left: 0; right: 0; top: 0; margin-top: 50px; bottom: 0; text-align: center;">
            <div ng-if="dispache" style="position: absolute; top: 25%; text-align: center; left:0; right:0;"><img height="128" src="img/splash.gif"/></div>
            <div class="row">
                <div class="col">
                    <div><strong>Charging address:</strong> {{chargingContractAddress}}</div><br/>
                    <div>€/kW/h: {{cost}}</div><br/>
                    <div><u><strong>Status:</strong> {{status}}</u></div><br/>
                    <div>Amount of energy charged: {{amountCharged}}</div><br/>
                    <div id="balance"><strong>boxAddress:</strong> {{boxAddress}}</div>
                    <div>balance: {{boxBalance}}</div><br/>
                    <div id="balance"><strong>homeAddress:</strong> {{homeAddress}}</div>
                    <div>balance: {{homeBalance}}</div><br/>
                    <div id="balance"><strong>carAddres:</strong> {{carAddress}}</div>
                    <div>balance: {{carBalance}}</div></br>
                    <button id="cockpitButton" ng-click="start()" ng-class="{'zoomOutRight':dispache,'zoomInRight':rassemble}" class="animated button">
                        <div>Start</div>
                    </button>
                    <button id="cockpitButton" ng-click="confirm()" ng-class="{'zoomOutRight':dispache,'zoomInRight':rassemble}" class="animated button">
                        <div>Confirm</div>
                    </button>
                    <button id="cockpitButton" ng-click="finish()" ng-class="{'zoomOutRight':dispache,'zoomInRight':rassemble}" class="animated button">
                        <div>Finish</div>
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
