<ion-view view-title="Recent Charges">
    <ion-nav-title>
        <!-- <img style="margin-top: 3px;" width="250" src="img/logo_slogan.png"/> -->
        <div style="font-family:HelveticaNeue">Recent Charges</div>
    </ion-nav-title>
    <ion-content>
        <ion-list >
            <ion-item ng-repeat="item in carList">
                <div class="row">
                    <i style="right:15%;padding-right:15%;" class="icon ion-model-s"></i>
                    <div style="left:25%;">{{item.moneyEarned}} $  -  {{item.energyTransferred}}  -  {{item.energyChargeTime}}</div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
