<md-toolbar>
  <div class="md-toolbar-tools" layout="row" layout-align="center center">
    <md-button class="md-icon-button" ng-click="$ctrl.sidebar()" ng-if="!$ctrl.notAuthenticated" style="background: #86BC25">
      <md-icon md-font-icon="Material Icons">menu</md-icon>
    </md-button>
    <h3 class="app_title">Trade-E</h3>
    <div layout="row" class="menu">
      <div ng-if="$ctrl.isContributor">
        <md-button ng-show="$ctrl.hasDeployedContract" ng-click="$ctrl.goTo('/home')">{{$ctrl.labels.Home}}</md-button>
        <md-button ng-show="$ctrl.hasDeployedContract" ng-click="$ctrl.goTo('/digitalid')">{{$ctrl.labels.MyDigitalID}}</md-button>
        <md-button ng-show="$ctrl.hasDeployedContract && $ctrl.hasSusbscribedServices" ng-click="$ctrl.goTo('/subscribedservices')">{{$ctrl.labels.MySubscribedServices}}</md-button>
      </div>
      <div ng-if="$ctrl.isValidator">
        <md-button ng-click="$ctrl.goTo('/home')">Home</md-button>
        <md-button ng-click="$ctrl.goTo('/qualificationrequests')">{{$ctrl.labels.QualificationRequest}}</md-button>
      </div>
    </div>
    <span flex></span>
    <md-button class="md-body-1"  ng-if="!$ctrl.notAuthenticated && $ctrl.isValidator" ng-click="$ctrl.audit()">Balance: {{$ctrl.balance}} ETH</md-button>
    <img ng-src="img/deloitte.jpg" style="width: 120px;" />
  </div>
</md-toolbar>

<md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop md-whiteframe="4" style="background: #fff">
  <md-toolbar>
    <div class="md-toolbar-tools" style="background: #86BC25">
      <img ng-src="img/user.jpeg" class="md-avatar" style="width: 50px; border-radius: 50px; " />
      <p style="margin-left: 10px;  color: #ffffff;">{{ $ctrl.username }}</p>
      <md-icon md-font-icon="Material Icons" ng-click="$ctrl.sidebar()" style="position: absolute;right: 10px;top: 20px; color: #ffffff;" class="bt_close_sidebar">clear</md-icon>
    </div>
  </md-toolbar>

  <md-content style="background: #fff">
    <md-list>
      <div ng-if="$ctrl.isContributor">
        <md-list-item ng-show="$ctrl.hasDeployedContract" ng-click="$ctrl.goTo('/home')" class="responsive-link">{{$ctrl.labels.Home}}</md-list-item>
        <md-list-item ng-show="$ctrl.hasDeployedContract" ng-click="$ctrl.goTo('/digitalid')" class="responsive-link">{{$ctrl.labels.MyDigitalID}}</md-list-item>
        <md-list-item ng-hide="$ctrl.hasDeployedContract" ng-click="$ctrl.goTo('/digitalid')" class="responsive-link">{{$ctrl.labels.CreateDigitalID}}</md-list-item>
        <md-list-item ng-show="$ctrl.hasDeployedContract && $ctrl.hasSusbscribedServices" ng-click="$ctrl.goTo('/subscribedservices')" class="responsive-link">{{$ctrl.labels.MySubscribedServices}}</md-list-item>
      </div>
      <div ng-if="$ctrl.isValidator">
        <md-list-item ng-click="$ctrl.goTo('/home')" class="responsive-link">{{$ctrl.labels.Home}}</md-list-item>
        <md-list-item ng-click="$ctrl.goTo('/qualificationrequests')" class="responsive-link">{{$ctrl.labels.QualificationRequest}}</md-list-item>
      </div>

      <md-list-item ng-click="$ctrl.logout()">Logout</md-list-item>
      <md-divider></md-divider>
    </md-list>

  </md-content>
</md-sidenav>
