<div flex-offset-gt-md="30" flex-gt-md="35" flex-xs="100" flex-sm="80" flex-md="50" flex-offset-md="20" flex-offset-sm="10" style="height: 100%; margin-top: 50px">
    <md-card class="md-whiteframe-12dp">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{$ctrl.labels.Register}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <form ng-submit="$ctrl.register()" method="post">
                <div layout="column">
                    <md-input-container>
                      <label>{{$ctrl.labels.Username}}</label>
                      <input required name="username " ng-model="$ctrl.username ">
                    </md-input-container>
                    <md-input-container>
                        <label>{{$ctrl.labels.Password}}</label>
                        <input type="password" required name="password" ng-model="$ctrl.password">
                    </md-input-container>
                    <md-input-container>
                        <label>{{$ctrl.labels.Validator}}</label>
                        <md-select ng-model="$ctrl.validator" required>
                            <md-option ng-value="validator.id" ng-repeat="validator in $ctrl.validators">{{validator.name}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-button ng-disabled="$ctrl.isRegistering" class="md-raised md-primary" type="submit">{{$ctrl.labels.Register}}</md-button>
                    <p class="md-body-1" style="color: orangered" ng-if="$ctrl.onError">{{$ctrl.errorMessage}}</p>
                </div>
            </form>
        </md-card-content>
    </md-card>

</div>
