@media (max-width: 1050px) {
  .app_title {
    font-size: 0.9em!important;
  }

  .responsive-link {
    display: flex;
  }

  .md-sidenav-left .md-toolbar-tools {
    height: 66px;
    max-height: 66px;
  }

  .menu { display: none; }
}
