html {
  font-family: Arial!important;
  font-size: larger
}

body,
.main {
  background: rgb(231, 231, 228);
}

navbar .md-toolbar-tools {
  background: black;
  color: white;
}

navbar .md-button {
  color: white;
}

navbar md-list-item .md-button {
  color: black;
}

.md-input-invalid .form-error {
  color: rgb(221, 44, 0)
}

.document-error {
  color: rgb(221, 44, 0)
}

.form-error {
  color: rgb(221, 44, 0);
}

h3 {
  font-weight: 900!important;
}

.reason-input {
  position: relative;
  top: 8px;
  margin: 0;
}

.invalid-field-checkbox {
  margin-top: 20px;
}

.md-subheader {
  background: none;
}

.material-cust-large-button {
  width: 400px;
  height: 90px;
}

.md-button.md-raised {
  /*color: #333;*/
}

.md-chips {
  box-shadow: initial!important;
}

.content {
  /*color: white;*/
}

md-radio-button.md-default-theme.md-checked .md-off,
md-radio-button.md-checked .md-off {
  border-color: black;
}

md-radio-button.md-default-theme .md-on,
md-radio-button .md-on {
  background: black;
}

th:focus,
a:focus {
  outline: none;
}

.mdl-data-table {
  width: 100%;
}

.mdl-data-table th {
  cursor: pointer;
}

.mdl-data-table tr {
  transition: none !important;
}

th md-select {
  margin: 0;
}

ul.pagination {
  padding: 0;
  font-size: 0;
  display: inline-block;
}

.pagination>li {
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  border: 1px solid #ddd;
  border-left: 0;
}

.pagination>li:first-child {
  border-left: 1px solid #ddd;
  border-radius: 2px 0 0 2px;
}

.pagination>li:last-child {
  border-radius: 0 2px 2px 0;
}

.pagination a {
  color: #444;
  font-size: 13px;
  padding: 0 10px;
  line-height: 30px;
  display: inline-block;
  text-decoration: none;
}

.pagination .active {
  background: #3f51b5;
  border-color: #3f51b5;
}

.pagination .active a {
  color: #fff;
}

.pagination-page.active {
  background: #3f51b5;
}

.pagination-page.active a {
  color: #fff;
}

.material-icons,
.sortable span:before,
.sortable span:after {
  font-family: 'Material Icons';
  font-size: 18px;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.sortable span {
  position: relative;
}

.sortable span:before {
  content: 'arrow_drop_down';
  position: absolute;
  right: -18px;
  top: -2px;
}

.sortable span:after {
  content: 'arrow_drop_up';
  position: absolute;
  right: -18px;
  top: -9px;
}

.sortable.sort-ascent span:before {
  display: none;
}

.sortable.sort-ascent span:after {
  top: -5px;
}

.sortable.sort-descent span:before {
  top: -5px;
}

.responsive-link {
  display: none;
}

.bt_close_sidebar:hover {
  cursor: pointer;
}

.uComply-data {
  font-weight: bold;
  float: right;
}

.uComply-data-error {
  color: orangered;
}

button.md-raised.md-primary.md-button {
  color: white;
}

.subscriptionStatusDone {
  background: #86bc25!important;
}

.ruleChecker {
  background: #f5f5f5;
  -webkit-appearance: none;
  border-radius: 10px;
  width: 96px;
  height: 20px;
}

.ruleChecker::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 35px;
  height: 35px;
  background: #fff;
  border-radius: 20px;
  position: relative;
  border: thin solid #ccc;
  top: 1px;
}

.ruleChecker:focus {
  outline: none;
}

.ruleChecker:after {
  content: '√';
  position: relative;
  right: 10px;
  top: 0px;
  color: #333;
}

.ruleChecker:before {
  content: 'x';
  position: relative;
  left: 10px;
  top: -2px;
  color: #333;
  z-index: 10;
}

.ruleCheckerValid::-webkit-slider-thumb {
  background: #86bc25;
  border: thin solid #fff;
  left: 12px;
}

.ruleCheckerNotValid::-webkit-slider-thumb {
  background: #ef5350;
  border: thin solid #fff;
  right: 12px;
}

.ruleCheckerNotValid:before, .ruleCheckerValid:after {
  color: white;
}
